@import url('https://fonts.googleapis.com/css?family=Raleway:600|Staatliches');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d1e7ff;
  font-family: 'Raleway', sans-serif;
}

#wrapper {
  width: 90%;
  max-width: 700px;
  margin: 50px auto;
  background-color: white;
  padding: 30px 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-align: center;
  align-items: center; /*讓內部的robotIcon和bubble垂直置中*/
}

h1 {
  font-size: 3.5em;
  color: #4F959D;
  margin-left:10px;
  margin-right:10px;
  margin-bottom: 20px;
  letter-spacing: 8px;
  text-align: center;
  
}

h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}

.intro-text {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #444;
}

.rules {
  font-size: 0.95rem;
  line-height: 1.6;
  list-style-type: disc;
  text-align: left;
  margin: 0 auto 30px;
  max-width: 500px;
  color: #333;
  background-color: #f6faff;
  border-left: 4px solid #4F959D;
  padding: 20px 30px;
}

.rules li {
  padding-left: 10px;
  margin-bottom: 10px;
}


.start-btn-container {
  text-align: center;
}

#start {
	background-color: #4F959D;
	color: white;
	padding: 15px;
	border: none;
	cursor: pointer;
	width: 40%;
	display: block;
	margin: 0 auto;
	outline: none;
	font-family: 'Staatliches', cursive;
	letter-spacing: 4px;
	font-size: 1.5em;	
	transition: 0.3s;
}

#start:hover {
  background-color: #3E767C;
  transform:scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px 0;
  }

  h1{
    
    white-space: nowrap;/*不換行*/
    font-size: clamp(2.5em, 6vw, 3em); /*clamp(最小, 字體大小為視窗寬度的5%, 最大)可用來確保字體不會太大或太小； */
    letter-spacing: 2px;
    letter-height:1.3;
    margin-bottom:15px;
  }
  
  h2{
    white-space: nowrap;/*不換行*/
    font-size:clamp(1em, 5vw, 1em);
    letter-height:1.5;
    margin:0 auto 10px;
    max-width:100%;
  }
  
  #start {
    width:80%;
    font-size:1.2em;
  }

  .rules{
    padding: 10px 30px;
  }
  
  .rules li {
    padding-left: 0px;
    margin-bottom: 5px;
}
  
} /*max-width: 768px*/  
